// Body - Color
.settings-color {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.settings-color span {
  margin-right: auto;
}

.settings-color__inputs {
  display: flex;
  align-items: center;
  justify-content: center;
}