// Wrapper
.settings-modal__wrapper {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: hsla(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.settings-modal {
  background-color: white;
  border-radius: 25px;
  z-index: 5;
  max-width: 540px;
}

// Header
.settings-header {
  padding: 34px 40px;
  border-bottom: 1px solid #E3e1e1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settings-header span {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.25;
}

.settings-header img {
  width: 14px;
  height: 14px;
  cursor: pointer;
}

// Body
.settings-body {
  padding: 24px 40px;
}

// Body - Time
.settings-time {
  border-bottom: 1px solid hsla(234, 39%, 14%, 10%);
  margin-bottom: 24px;
}

.settings-time__inputs {
  display: flex;
  margin-bottom: 24px;
}

// Body - Font
.settings-font {
  display: flex;
  border-bottom: 1px solid hsla(234, 39%, 14%, 10%);
  align-items: center;
  margin-bottom: 24px;
}

.settings-font span {
  margin-right: auto;
}

.settings-font__inputs {
  margin-bottom: 24px;
}

// Body - Color
.settings-color {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.settings-color span {
  margin-right: auto;
}

.settings-color__inputs {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Body - Apply
.settings-modal .apply {
  max-width: 140px;
  width: 100%;
  border-radius: 26.5px;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.25;
  padding: 21px 47px 16px;
  font-weight: bold;
  border: none;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: -23px;
  color: #fff;

  transition: background-color 0.25s ease-in-out;
}

.settings-modal .apply:hover {
  cursor: pointer;
  filter: brightness(95%);
}