.settings-modal {
  background-color: white;
  border-radius: 25px;
  z-index: 5;
  max-width: 540px;
}

.settings-header {
  padding: 34px 40px;
  border-bottom: 1px solid #E3e1e1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settings-header span {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.25;
}

.settings-header img {
  width: 14px;
  height: 14px;
  cursor: pointer;
}

.settings-body {
  padding: 24px 40px;
}

.settings-time {
  border-bottom: 1px solid hsla(234, 39%, 14%, 10%);
  margin-bottom: 24px;
}

.settings-time__inputs {
  display: flex;
  margin-bottom: 24px;
}

.settings-font {
  display: flex;
  border-bottom: 1px solid hsla(234, 39%, 14%, 10%);
  align-items: center;
  margin-bottom: 24px;
}

.settings-font span {
  margin-right: auto;
}

.settings-font__inputs {
  margin-bottom: 24px;
}

.settings-color {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.settings-color span {
  margin-right: auto;
}