.settings-font {
  display: flex;
  border-bottom: 1px solid hsla(234, 39%, 14%, 10%);
  align-items: center;
  margin-bottom: 24px;
}

.settings-font span {
  margin-right: auto;
}

.settings-font__inputs {
  margin-bottom: 24px;
}