@use "../../Assets/styles/variables";

.Nav {
  background-color: var(--midnight-black-dark);
  padding: 8px;
  border-radius: 26.5px;
  margin-bottom: 45px;
  z-index: 5;

  button {
    font-family: inherit, var(--system-ui);
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.125;
    border: none;
    background-color: transparent;
    // padding: 19px 26px;
    padding: 10px 15px;
    border-radius: 26.5px;
    color: var(--lt-gray);
  }

  button.active {
    background-color: var(--red);
    color: var(--midnight-black);
  }
}

@media screen and (min-width: 768px) {
  .Nav button {
    padding: 19px 26px;
  }
}